<h1>Your Lessons</h1>
<hr>
<a href="/student/lesson">
  <div>
    <h4>Date: April 20th 2016</h4>
    <h3>Blues in A</h3>
    <h5>Status: Incomplete</h5>
  </div>
</a>
<hr>
<br>
<a href="/logout">Log Out</a>
<a href="/student/edit">Edit Account</a>