<h2>Notebook</h2>
<br>
<h4>Add Student</h4>
<form method="post" action="/student/add">
  <select>
    <option value="4">Student 4</option>
  </select>
</form>
<h4>Select Student</h4>
<form method="post" action="/student">
  <select>
    <option value="1">Student 1</option>
    <option value="2">Student 2</option>
    <option value="3">Student 3</option>
  </select>
  <br>
  <input type="submit" name="select" value="Select">
</form>
<a href="/logout">Log Out</a>
<a href="/teacher/edit">Edit Account</a>