<h4>Notebook</h4>

<div class="top-push">
  <div class="row bottom-push">
    <div class="col-sm-4 col-sm-offset-4">
      
      <form method="post" action="/teacher/student/lesson/<%= @lesson.id %>/edit" id="edit-lesson">
        <input type="hidden" name="_method" value="patch">
        <input type="text" class="form-control" name="name" value="<%= @lesson.name %>">
        <textarea class="form-control mtl" name="notes" rows="10" cols="50" form="edit-lesson"><%= @lesson.notes %></textarea> 
        <textarea class="form-control mtl" name="goal" rows="5" cols="50" form="edit-lesson"><%= @lesson.goal %></textarea>
        <br>
        <input type="submit" class="btn btn-lg btn-primary" name="update" value="Save">
        <a href="/teacher/student/lessons" class="btn btn-lg btn-default">Cancel</a><br>
      </form>

    </div>
  </div>
</div>