<h2>New Lesson</h2>
<form method="post" action="/lesson/new" id="new-lesson">
  <input type="text" name="name" placeholder="Lesson Name">
  <% time = Time.new %>
  <input type="hidden" name="date" value="<%= "#{time.month}/#{time.day}/#{time.year}" %>">
  <input type="hidden" name="student_id" value="<%= @student.id %>">
  <textarea name="notes" rows="10" cols="50" form="new-lesson" placeholder="Notes"></textarea> 
  <textarea name="goal" rows="5" cols="50" form="new-lesson" placeholder="Goal"></textarea>
  <br>
  <input type="submit" name="create" value="Create">
</form>
<br>
<a href="/teacher/<%= @user.id %>/student/<%= @student.id %>/lessons">Cancel</a><br>
<a href="/logout">Log Out</a>