<div class="top-push">
  <div class="row text-center">
    <h2>Welcome to Notebook</h2>
  </div>
  <br>
  <div class="row mbl">
    <img class="center-block" src="/images/book.svg" />
  </div>
  <br>
  <div class="row text-center">
      <a href="/signup" class="btn btn-hg btn-primary btn-wide mrm" role="button">Sign Up</a>
      <a href="/login"  class="btn btn-hg btn-primary btn-wide" role="button">Login</a>
  </div>
</div>