<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/css/flat-ui-pro.min.css" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <title>Notebook</title>
</head>
<body class="container-fluid">
  <%= yield %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/flat-ui-pro.min.js"></script>
    <script src="/js/radiocheck.js"></script>
    <script src="/js/flat.js"></script>
</body>
</html>