<h3>Notebook</h3>
<h3><%= flash[:user] %></h3>
<h3><%= flash[:password] %></h3>
<h3><%= flash[:unknown] %></h3>
<form action="/login" method="post">
  <input type="radio" name="user_type" value="teacher" />Teacher
  <input type="radio" name="user_type" value="student" checked/>Student
  <br>
  <input type="email" name="email" placeholder="Email"/><br>
  <input type="password" name="password" placeholder="Password"/><br>
  <input type="submit" name="login" value="Login"/>
</form>
<br>
<a href="/signup">Sign Up Instead</a>