<h3>Notebook</h3>
<form action="/login" method="post">
  <input type="email" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <input type="submit" name="login" value="Login"/>
</form>
<br>
<a href="/signup">Sign Up Instead</a>