<h3>Sign up as:</h3>
<form method="post" action="/signup">
  <input type="radio" name="role" value="teacher" />Teacher
  <input type="radio" name="role" value="student" />Student
  <br>
  <input type="text" name="name" placeholder="Name">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="password" name="conf_password" placeholder="Confirm Password">
  <br>
  <input type="submit" name="signup" value="Sign Up">
</form>
<br>
<a href="/login">Login Instead</a>