<h4>Notebook<h4>
  
<div class="top-push">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      
      <% unless flash.empty? %>
        <div class="alert alert-info">
          <button class="close fui-cross" data-dismiss="alert"></button>
          <h4>Houston, we have a problem...</h4>
          <p><%= flash[:name] %></p>
          <p><%= flash[:email] %></p>
        </div>
      <% end %>
      
      <form method="post" action="/student/edit">
        <input type="hidden" name="_method" value="patch">
        <input type="text" class="form-control input-lg mtl" name="name" value="<%= @user.name %>" required> 
        <input type="email" class="form-control input-lg mtl" name="email" value="<%= @user.email %>" required>
        <input type="submit" class="btn btn-lg btn-primary btn-wide mrm mtl" name="edit" value="Save" required>
        <a href="/student/lessons" class="btn btn-lg btn-default btn-wide mtl">Cancel</a>
      </form>
      
    </div>
  </div>
</div>