<h3>Edit Account</h3>
<form method="post" action="/student/edit">
  <input type="text" name="name" placeholder="Name">
  <br>
  <input type="email" name="email" placeholder="Email">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="password" name="conf_password" placeholder="Confirm Password">
  <br>
  <input type="submit" name="save" value="Save">
</form>
<br>

<!--If teacher link to /teacher/student/lessons-->
<a href="/student/lessons">Cancel</a>